<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
</head>
<body>
    <div class="container">
        <% if(shipping !== null){ %>
            <div class="shipment-information">
                <p>Description: <%= shipping.description %></p>
                <p>Price: <%= shipping.price %></p>
                <p>Estimated Shipping Time: <%= shipping.estimate_days %></p>
            </div>
            <div class="confirm-shipment">
                <form action="/send-shipment" method="POST">
                    <input type="hidden" value="<%= shipping.id %>" name="shippingId">
                    <input type="hidden" value="<%= shipping.description %>" name="shippingDescription">
                    <input type="hidden" value="<%= addressId %>" name="addressId">
                    <button type="submit">Confirm</button>
                </form>
            </div>
        <% } else {%>
            <div class="no-shipment-information">
                <h1>No Shipping is available for the given address. Sorry brah.</h1>
                <div>
                    <a href="/">Let's go back then !</a>
                </div>
            </div>
        <% } %>
    </div>
</body>
</html>