<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoxKnight Challenge</title>
</head>
<body>
    <div class="container">
        <div class="enter-address">
            <hr>
            <h1>Enter Your Address</h1>
            <hr>
            <% if (hasError) { %>
                <% errorMessages.forEach( error => { %>
                    <div class="error-message">
                        <p><%= error.msg %> for <%= error.param %> field</p>
                    </div>
                <% }) %>
            <% } %>
            <form action="/shipment" method="POST">
                <label for="address">Address</label>
                <input
                    class="form-control"
                    type="text"
                    name="address"
                    value="<% if (hasError) { %><%= destination.address_line_one %><% } %>" 
                    required>
                <label for="city">City</label>
                <input
                    class="form-control"
                    type="text"
                    name="city"
                    value="<% if (hasError) { %><%= destination.city %><% } %>" 
                    required>
                <label for="province">Province</label>
                <input 
                    class="form-control" 
                    type="text"
                    name="province"
                    value="<% if (hasError) { %><%= destination.province %><% } %>"
                    required>
                </input>
                <label for="postalcode">Postal Code</label>
                <input
                    class="form-control"
                    type="text"
                    name="postalcode"
                    value="<% if (hasError) { %><%= destination.postalCode %><% } %>" 
                    required>
                <label for="Country">Country</label>
                <input
                    class="form-control"
                    type="text"
                    name="country"
                    value="<% if (hasError) { %><%= destination.country %><% } %>" 
                    required>
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
</body>
</html>